.video-review {

    &-list {


    }

    &-snapshot {
        &-item {
            width:240px;
            text-align: center;

        }

        img {
            width: 100%;
        }

   
    }

    &-item-info {
        .user, .properties, .tags {
            margin: 10px 0;
        }

        .buttons {
            button {
                margin: 14px 6px;
            }
           
        }
    }
}